# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.hypothesis/
.coverage
htmlcov/

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
